

@model BlogSayfasi_MVC_SinemGungor.Models.VM.RegisterVM

@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Kayıt Ol</h2>
            <form asp-action="Register">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="form-group mb-3">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="Password" class="form-control" type="password" placeholder="Şifre" id="passwordField" />
                        <button type="button" class="btn btn-outline-secondary" id="togglePassword" onclick="togglePasswordVisibility('passwordField', 'togglePassword')">Göster</button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <div class="input-group">
                        <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Şifre Tekrarı" id="confirmPasswordField" />
                        <button type="button" class="btn btn-outline-secondary" id="toggleConfirmPassword" onclick="togglePasswordVisibility('confirmPasswordField', 'toggleConfirmPassword')">Göster</button>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-2">
                    <input type="submit" value="Kayıt Ol" class="btn btn-primary btn-block" />
                </div>
            </form>
            <div class="text-center mt-3">
                <a asp-controller="Login" asp-action="Login">Zaten Hesabınız Var mı? Giriş Yap</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<script>
    function togglePasswordVisibility(fieldId, buttonId) {
        var passwordField = document.getElementById(fieldId);
        var toggleButton = document.getElementById(buttonId);
        if (passwordField.type === "password") {
            passwordField.type = "text";
            toggleButton.textContent = "Gizle";
        } else {
            passwordField.type = "password";
            toggleButton.textContent = "Göster";
        }
    }
</script>
