

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog Sayfasi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogSayfasi_MVC_SinemGungor.styles.css" asp-append-version="true" />
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/pictures/fikiratolyesi.png" alt="Fikir Atölyesi" style="height: 40px;">
                    Fikir Atölyesi
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Anasayfa">Ana Sayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UyePaneli" asp-controller="Article" asp-action="Create">Makale Ekle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UyePaneli" asp-controller="Article" asp-action="List">Makalelerim</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UyePaneli" asp-controller="Topics" asp-action="SelectCategories">Kategoriler</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="UyePaneli" asp-controller="Profile" asp-action="Profile" asp-route-username="@User.Identity.Name">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Çıkış Yap</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Register" asp-action="Register">Kayıt Ol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Login">Giriş Yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted mt-auto py-3">
        <div class="container text-center">
            &copy; 2024 - Fikir Atölyesi
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
